	{{ if afficher_en_plein_ecran}}
		<section class="hero is-fullheight document document-fullscreen {{if couleur_de_fond == 'white'}}has-background-white{{ else }}has-background-black{{ /if }}" style='background-image: url({{ glide:photo width="1900" height="900" crop="focal_crop"}});'>
			{{partial:fleche sens="prev" ancre="{{index | subtract:1}}"}}

			<div class="hero-body">
				<div class="container">

				</div>
			</div>
			{{partial:fleche sens="next" ancre="{{index | add:1}}"}}
		</section>
	{{ else }}
		<section class="hero is-fullheight document {{if couleur_de_fond == 'white'}}has-background-white{{ else }}has-background-black{{ /if }}" style='background-image: url({{ photo | urlencode }});background-color: {{couleur_de_fond}}'>
			{{if index > 1}}
			{{partial:fleche sens="prev" ancre="{{index | subtract:1}}"}}
			{{endif}}

			<div class="hero-body">
				<div class="container">

				</div>
			</div>
			{{partial:fleche sens="next" ancre="{{index | add:1}}"}}
		</section>
	{{ /if }}
