		<section class="hero is-fullheight document document-video {{if couleur_de_fond == 'white'}}has-background-white{{ else }}has-background-black{{ /if }}">
			<video width="400" height="300" preload="true" autoplay loop>
				<source src="{{video}}" type="video/mp4" />
			</video>
			<a class="lien-slide prev-slide has-text-white" name="s{{index}}" href="#s{{index | subtract:1}}"></a>
			<div class="hero-body">
				<div class="container">

				</div>
			</div>
			<a class="lien-slide next-slide has-text-white" href="#s{{index | add:1}}"></a>
		</section>
