		<section class="hero is-fullheight document document-video {{if couleur_de_fond == 'white'}}has-background-white{{ else }}has-background-black{{ /if }}">
			<video width="400" height="300" preload="true" autoplay loop>
				<source src="{{video}}" type="video/mp4" />
			</video>
			{{partial:fleche sens="prev" ancre="{{index | subtract:1}}"}}
			<div class="hero-body">
				<div class="container">

				</div>
			</div>
			{{partial:fleche sens="next" ancre="{{index | add:1}}"}}
		</section>
