<a name="s0"></a>
<div class="album">
<!-- 	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container">
				<h2 class="title has-text-white">
					{{ title }}
				</h2>
				<p class="subtitle has-text-light">
					{{ description }}
				</p>
				<p>{{ docs|count }} pictures in this album</p>
				<p class="has-text-white">-</p>
				<p>
					<a href="{{site_url}}" class="back has-text-dark">{{ delphineachard:fleche }} go back to albums</a>
				</p>
			</div>
		</div>
		
		{{partial:fleche sens="next" ancre="1"}}
	</section>
	 -->
	{{ docs }}
	<a name="s{{index}}"></a>
	{{partial src={ type } }}
	{{ /docs }}



	<a name="s{{docs | count | add:1}}"></a>
	<section class="hero is-fullheight has-text-white has-background-dark">
		{{partial:fleche sens="prev" ancre="0"}}
		<div class="hero-body">
			<div class="container">
				<p class="subtitle has-text-white">this was ...</p>
				<h2 class="title has-text-white">{{ title }}</h2>
				<p>
					<a class="back" href="{{site_url}}">{{ delphineachard:fleche }} go back to albums</a>
				</p>
				<p>-</p>
				{{ delphineachard:next_album debut="true" slug="{slug}"}}
				<p>
					<a class="next" href='{{ delphineachard:next_album champ="url" slug="{slug}"}}'>see nex album : &laquo; <u>{{ delphineachard:next_album champ="title" slug="{slug}"}}</u> &raquo; {{ delphineachard:fleche }}</a>
				</p>
				{{ delphineachard:next_album fin="true" slug="{slug}"}}



			</div>
		</div>
	</section>

</div>

