    <section class="hero is-fullheight wrapper">
    	<div class="hero-body">
    		<div class="container contenu">
    			<section>
    				<ul class="albums">
    					{{ collection:albums }}
    					<li><a data-couleur_de_fond="{{couleur_de_fond}}" data-afficher_en_plein_ecran="{{ afficher_en_plein_ecran }}" data-illustration='{{ if !afficher_en_plein_ecran || illustration | contains:mp4 }}{{ illustration | urlencode }}{{ else }}{{ glide:illustration width="1900" height="900" crop="focal_crop" }}{{ /if }}' href="{{ url }}">{{ title }}</a></li>
    					{{ /collection:albums }}
    					<li><a href="about">about</a></li>
    					<li><a href="contact">contact</a></li>
    				</ul>

    			</section>
    		</div>
    		<div class="illustration {{if couleur_de_fond_home == 'white'}}has-background-white{{else}}has-background-black{{/if}} {{if afficher_en_plein_ecran_home}}illustration-fullscreen{{/if}}" style='background-image:url({{ glide:illustration_home width="1900" height="900" crop="focal_crop" }});'></div>
    	</div>
    </section>
